{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Categories{% endblock title %}
{% block content %}
    <div class="justify-content-end">
        <div class="pb-3">
        <button onclick="dialog()" class="btn btn-primary text-light">
            <span style="font-size: 25px;">&plus;</span> Add
        </button>
        <dialog id="myDialog">
            <form action="" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="d-flex">
                        <legend>Add a category</legend>
                        <div class="ms-auto">
                            <span id="closeDiag"style="font-size: 25px;">&times;</span>
                        </div>
                    </div> 
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-success align-items-center" value="Submit">
                </fieldset>
            </form>
        </dialog>
    </div>
    </div>
    <table class="table ">
        <thead>
            <tr class="table-responsive-lg">
                <td scope="row">Category ID</td>
                <td scope="row">Category Name</td>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <a href="{% url 'categoryUpdate' category.id %}">
                <tr>
                    <td>{{category.categoryId}}</td>
                    <td>{{category.category}}</td>
                </tr>
            </a>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}