{% extends 'base.html' %}
{% block title %}Product Update{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<center>
    <div class="col-md-8 col-sm-12">
        <div class="card">
            <div class="card-header">Product {{Product.id}}</div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class='btn btn-info' value="Update">
            </form>
            </div>
        </div>
    </div>
</center>
{% endblock content %}